# ===================================================================
# DEFAULT CONFIG (Applies to ALL profiles)
# ===================================================================
spring:
  application:
    name: edusync
  profiles:
    active: dev # Run in 'dev' mode by default

  # --- JPA / Hibernate Common Settings ---
  jpa:
    hibernate:
      ddl-auto: update # Set in default, can be overridden by 'prod'
    show-sql: true       # Set in default, can be overridden by 'prod'
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

# ===================================================================
# APPLICATION-SPECIFIC PROPERTIES
# ===================================================================
app:
  jwt:
    # This is your security config
    secret-key: ${JWT_SECRET_KEY}
    expirationTime: ${JWT_EXPIRATION_TIME}


---

api:
  url: ${BASE_URL}${API_VERSION}

# ===================================================================
# DEVELOPMENT PROFILE (Active when 'spring.profiles.active=dev')
# ===================================================================
spring:
  config:
    activate:
      on-profile: dev

  # --- AivenDB Datasource Configuration ---
  datasource:
    driver-class-name: org.postgresql.Driver

    # Configuration credentials are being read from .env file
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}

    # We will keep the timeout fix
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      connection-timeout: 30000

  # --- Logging (for Dev) ---
  logging:
    level:
      root: INFO
      com.project.edusync: DEBUG
      org.hibernate.SQL: DEBUG